* {
    box-sizing: border-box;
  }
  .movie-container {
    display: flex;
    .movie-info {
      max-width: 600px;
      p {
        width: 100%;
        display: flex;
        color: #FF1493;
      }
      b {
        flex-shrink: 0;
        width: 100px;
      }
    }
  }
h1 {
  color: #FF1493;
}
